### USER PREFERENCES
{% for section, entries in user_preferences.items() %}
{{ section }}:
{% for entry in entries %}
  - {{ entry }}
{% endfor %}
{% endfor %}



### MEMORIES
{{ memories }}



### FUNCTIONS
  - create_memory("memory", priority)
      description: Save memory to the Assistant's adaptive memory.
      arguments:
        memory: the memory to be saved.
        priority: a floating point number between 0 and 1.
  - delete_memory("memory")
      description: Delete a memory from the Assistant's adaptive memory.
      arguments:
        memory: the exact text of the memory to be deleted.
  - mode("mode")
      description: Switch the Assistant's mode.
      arguments:
        mode: the mode to switch to. Options are "NSFW", "work", and "default"



### SYSTEM
kirishima_should_not:
{% for item in kirishima_should_not %}
 - {{ item }}
{% endfor %}

kirishima_should:
{% for item in kirishima_should %}
 - {{ item }}
{% endfor %}


{% if reasoning %}
### REASONING PROCESS
Before answering the user, express your reasoning encapsulated in <details> and <summary> tags.

{% endif %}

### MODE
{{ mode }}



### TIME
{{ time }}



### CONVERSATION SUMMARY (contextual buffer)
{{ summaries }}