CHROMADB_MODEL_NAME             = "intfloat/e5-small-v2"
CHROMADB_URL                    = "http://chromadb"

# if the model returns a bad response, this is how many times we'll ask for a new response
CHAT_COMPLETIONS_MAX_ATTEMPTS   = 10

# token limits - nemo has a 128k context window but can't utilize all of it.
# maximum tokens allowed for the previous conversation part of the prompt
CONVERSATION_TOKENS_SOFT_LIMIT = 1024
CONVERSATION_TOKENS_SOFT_LIMIT = 1536

# my anime list credentials and API url
MAL_CLIENT_ID                   = 'malclientidstring'
MAL_BASE_URL                    = 'https://api.myanimelist.net/v2/anime'

INSTRUCT                        = True
# default settings for /chat/completion requests. Streaming appears to break some things, beware.
DEFAULT_SETTINGS = {
    "model":        "deepseek:latest",
    "stream":       False,
    "temperature":  0.7,
    "top_p":        0.9,
    "max_tokens":   512,
    "stop":         ["[TOOL_CALLS]", "</|im_end|>", "<|im_end|>", "<|im_start|>"]
}
