uvicorn
fastapi
graypy
sentence_transformers
requests
httpx
transformers
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
pygelf