{
    "service": {
      "name": "chromadb",
      "port": ${SERVICE_PORT},
      "check": {
        "http": "http://localhost:${SERVICE_PORT}/ping",
        "interval": "10s",
        "timeout": "5s"
      }
    }
  }
  