uvicorn
fastapi
graypy
httpx
requests
python-dateutil
tiktoken
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
pygelf
python-multipart