{
    "greylog": {
        "host": "graylog",
        "port": 12201,
        "log_level": "DEBUG"
    },
    "otlp": {
        "api_key": "",
        "url": ""
    },
    "tracing_enabled": false,
    "llm": {
        "mode": {
            "nsfw": {
                "model": "nemo:latest",
                "provider": "ollama",
                "options": {
                    "temperature": 0.3,
                    "max_tokens": 512,
                    "stream": false
                }
            },
            "default": {
                "model": "gpt-4.1",
                "provider": "openai",
                "options": {
                    "max_completion_tokens": 256,
                    "stream": false
                }
            }
        },
        "timeout": 120
    }
}