"""
Configuration settings for Greylog logging.

Defines the host, port, and log level for UDP-based GELF (Graylog Extended Log Format) logging.
"""
GREYLOG_HOST                    = "graylog"   # GELF UDP host
GREYLOG_PORT                    = 12201         # GELF UDP port
GREYLOG_LOG_LEVEL               = "DEBUG"       # DEBUG INFO WARNING ERROR CRITICAL

TRACING_ENABLED                 = False

# global LLM defaults
LLM_DEFAULTS                            = {
    "model"         : "nemo:latest",
    "temperature"   : 0.3,
    "stream"        : False,
    "max_tokens"    : 512
}

TIMEOUT                            = 120 # seconds