uvicorn
fastapi
httpx
pygelf
websockets
requests
jinja2
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi