uvicorn
fastapi
graypy
apscheduler
requests
SQLAlchemy
transformers
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
pygelf